{% extends 'base.html' %}
{% block content %}
<div class="container month-cards" ng-controller="trialController">

    <p class="badge badge-secondary year"><strong>{{year}}</strong></p>
    <div ng-repeat="month in mattressMonths">
        <a ng-click="month_card(month, '2018')" ng-class="{'cardFocused': month == currentMonth}" class="card btn btn-info">
            <span>{[{month|uppercase}]}</span>
        </a>
    </div>

</div>

<div class="container">
    <div ng-view class="month-view"></div>
</div>


{% endblock %}