
<div class="container">
    <md-content>
        <md-tabs md-dynamic-height md-border-bottom >
            <md-tab ng-repeat="cat in categories" label="{[{cat}]}" ng-click="catCard(cat)">
                <md-content class="md-padding">
    <span>
        <h5 class="lost-title-text d-flex justify-content-center display-5">{[{currentCat}]}</h5>
    </span>
                    <a class="report" data-toggle="modal" data-target="#newModal"><button class="font-weight-bold btn btn-danger"><i class="fas fa-plus"></i> New <b>"{[{currentCat}]}"</b> Item</button></a>
                    <hr class="my-4">
                    <span><input ng-model="searchItem" id="search" name="search" placeholder="Search... By Item name"></span>
                    <hr class="my-3">
                    <div class="lost-content">
                        <table class="inventory-table table table-bordered table-striped table-dark">
                            <thead class="thead-inverse">
                            <tr>
                                <th class="text-center" >Item</th>
                                <th class="text-center" >Laundry</th>
                                <th class="text-center" >Lock Up</th>
                                <th class="text-center" ng-hide="currentCat === 'Cleaning Supplies' && searchItem === ''">2</th>
                                <th class="text-center" ng-hide="currentCat === 'Cleaning Supplies' && searchItem === ''">3</th>
                                <th class="text-center" ng-hide="currentCat === 'Cleaning Supplies' && searchItem === ''">4</th>
                                <th class="text-center" ng-hide="currentCat === 'Cleaning Supplies' && searchItem === ''">5</th>
                                <th class="text-center" ng-hide="currentCat === 'Cleaning Supplies' && searchItem === ''">6</th>
                                <th class="text-center" >Par Stock</th>
                                <th class="text-center" ng-hide="currentCat === 'Cleaning Supplies' && searchItem === ''" >2.5 Par</th>
                                <th class="text-center" >Total Count</th>
                                <th class="text-center" >$/Item</th>
                                <th class="text-center" >Total<br>Cost</th>
                                <th class="text-center">Edit/Delete</th>
                            </tr>
                            </thead>

                            <tr class="table-data" ng-repeat="item in linen | filter: searchItem | orderBy: 'item_name'" ng-show="show_if(item, searchItem)">
                                <td class="text-center">
                                    <div ng-hide="editingData[item._id]">{[{item.item_name | uppercase}]}</div>
                                    <div ng-show="editingData[item._id]"><textarea type="text" ng-model="item.item_name" autofocus required></textarea></div>
                                </td>
                                <td class="text-center">
                                    <div ng-hide="editingData[item._id]">{[{item.laundry}]}</div>
                                    <div ng-show="editingData[item._id]"><input type="text" ng-model="item.laundry" required/></div>
                                </td>
                                <td class="text-center">
                                    <div ng-hide="editingData[item._id]">{[{item.lock_up}]}</div>
                                    <div ng-show="editingData[item._id]"><input type="text" ng-model="item.lock_up" required/></div>
                                </td>
                                <td class="text-center" ng-hide="currentCat === 'Cleaning Supplies' && searchItem === '' && searchItem === ''">
                                    <div ng-hide="editingData[item._id]">{[{item.second}]}</div>
                                    <div ng-show="editingData[item._id]"><input type="text" ng-model="item.second" required/></div>
                                </td>
                                <td class="text-center" ng-hide="currentCat === 'Cleaning Supplies' && searchItem === '' && searchItem === ''">
                                    <div ng-hide="editingData[item._id]">{[{item.third}]}</div>
                                    <div ng-show="editingData[item._id]"><input type="text" ng-model="item.third" required/></div>
                                </td>
                                <td class="text-center" ng-hide="currentCat === 'Cleaning Supplies' && searchItem === '' && searchItem === ''">
                                    <div ng-hide="editingData[item._id]">{[{item.fourth}]}</div>
                                    <div ng-show="editingData[item._id]"><input type="text" ng-model="item.fourth" required/></div>
                                </td>
                                <td class="text-center" ng-hide="currentCat === 'Cleaning Supplies' && searchItem === '' && searchItem === ''">
                                    <div ng-hide="editingData[item._id]">{[{item.fifth}]}</div>
                                    <div ng-show="editingData[item._id]"><input type="text" ng-model="item.fifth" required/></div>
                                </td>
                                <td class="text-center" ng-hide="currentCat === 'Cleaning Supplies' && searchItem === '' && searchItem === ''">
                                    <div ng-hide="editingData[item._id]">{[{item.sixth}]}</div>
                                    <div ng-show="editingData[item._id]"><input type="text" ng-model="item.sixth" required/></div>
                                </td>
                                <td class="text-center">
                                    <div ng-hide="editingData[item._id]">{[{item.par_stock}]}</div>
                                    <div ng-show="editingData[item._id]"><input type="text" ng-model="item.par_stock" required/></div>
                                </td>
                                <td class="text-center" ng-hide="currentCat === 'Cleaning Supplies' && searchItem === '' && searchItem === ''">
                                    <div ng-hide="editingData[item._id]">{[{item.par_25}]}</div>
                                    <div ng-show="editingData[item._id]"><input type="text" ng-model="item.par_25" required/></div>
                                </td>
                                <td class="text-center" style="font-size:20px">
                                    <b>{[{item.total_count}]}</b>
                                </td>
                                <td class="text-center">
                                    <div ng-hide="editingData[item._id]">{[{item.cost_per_item}]}</div>
                                    <div ng-show="editingData[item._id]"><input type="text" ng-model="item.cost_per_item" required/></div>
                                </td>
                                <td class="text-center" style="font-size:20px">
                                    <b>{[{item.total_cost | number : 2}]}</b>
                                </td>
                                <td class="text-center">
                                    <button ng-hide="editingData[item._id]" ng-click="modify(item._id)"  class="btn-primary inventory-button"><i class="fas fa-edit"></i></button>
                                    <button ng-show="editingData[item._id]" ng-click="update(item)" type="submit"  class="btn-primary inventory-button"><i class="fas fa-upload"></i></button>
                                    <button data-toggle="modal" data-target="#confirmModal" ng-click="send_info(item._id, item.type)"  class="inventory-button btn-danger">X</button>
                                </td>
                            </tr>
                            <tr class="count-row">
                                <td></td>
                                <td></td>
                                <td></td>
                                <td ng-hide="currentCat === 'Cleaning Supplies' && searchItem === ''"></td>
                                <td ng-hide="currentCat === 'Cleaning Supplies' && searchItem === ''"></td>
                                <td ng-hide="currentCat === 'Cleaning Supplies' && searchItem === ''"></td>
                                <td ng-hide="currentCat === 'Cleaning Supplies' && searchItem === ''"></td>
                                <td ng-hide="currentCat === 'Cleaning Supplies' && searchItem === ''"></td>
                                <td ng-hide="currentCat === 'Cleaning Supplies' && searchItem === ''"></td>
                                <td class="text-center"><b>Total Count:</b></td>
                                <td class="text-center"><b><u>{[{linenCount}]}</u></b></td>
                                <td class="text-center"><b>Total $:</b></td>
                                <td class="text-center"><b><u>{[{linenCost | number : 2}]}</u></b></td>
                                <td></td>
                            </tr>

                        </table>
                    </div>

                    <div class="modal fade" id="newModal">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">New Item</h4>
                                    <button class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <div class="modal-body modal_stretch">
                                    <div class="form" style="width: 800px;">
                                        <form method="post" action="/inventory/new_item">
                                            <div class="form-group">
                                                <label for="item_name2">Item Name</label>
                                                <input type="text" class="form-control" id="item_name2" name="item_name" placeholder="Enter '{[{currentCat}]}' item name here" autofocus required>
                                            </div>
                                            <hr class="my-2">
                                            <div class="row">
                                                <div class="col">
                                                    <label for="laundry2">Laundry</label>
                                                    <input type="number" class="form-control" id="laundry2" name="laundry" value="0" placeholder="0" aria-describedby="storeURLPrefixHelp" required>
                                                </div>
                                                <div class="col">
                                                    <label for="lock_up2">Lock Up</label>
                                                    <input type="number" class="form-control" id="lock_up2" name="lock_up" value="0" placeholder="0" aria-describedby="storeURLPrefixHelp" required>
                                                </div>
                                                <div class="col">
                                                    <label for="par_stock2">Par Stock</label>
                                                    <input type="number" class="form-control" id="par_stock2" name="par_stock" value="0" placeholder="0" aria-describedby="storeURLPrefixHelp" required>
                                                </div>
                                                <div class="col">
                                                    <label for="par_252">2.5 Par</label>
                                                    <input type="number" class="form-control" id="par_252" name="par_25" value="0" placeholder="0" aria-describedby="storeURLPrefixHelp" required>
                                                </div>
                                            </div>
                                            <hr class="my-2">
                                            <div class="row">
                                                <div class="col">
                                                    <label for="second2">Second Floor</label>
                                                    <input type="number" class="form-control" id="second2" name="second" value="0" placeholder="0" aria-describedby="storeURLPrefixHelp" required>
                                                </div>
                                                <div class="col">
                                                    <label for="third2">Third Floor</label>
                                                    <input type="number" class="form-control" id="third2" name="third" value="0" placeholder="0" aria-describedby="storeURLPrefixHelp" required>
                                                </div>
                                                <div class="col">
                                                    <label for="fourth2">Fourth Floor</label>
                                                    <input type="number" class="form-control" id="fourth2" name="fourth" value="0" placeholder="0" aria-describedby="storeURLPrefixHelp" required>
                                                </div>
                                                <div class="col">
                                                    <label for="fifth2">Fifth floor</label>
                                                    <input type="number" class="form-control" id="fifth2" name="fifth" value="0" placeholder="0" aria-describedby="storeURLPrefixHelp" required>
                                                </div>
                                                <div class="col">
                                                    <label for="sixth2">Sixth Floor</label>
                                                    <input type="number" class="form-control" id="sixth2" name="sixth" value="0" placeholder="0" aria-describedby="storeURLPrefixHelp" required>
                                                </div>
                                            </div>
                                            <hr class="my-2">
                                            <div class="form-group">
                                                <label for="cost_per_item2">Cost Per Item</label><br>
                                                <input type="number" class="form-control" id="cost_per_item2" name="cost_per_item" value="0" aria-describedby="storeURLPrefixHelp" required>
                                            </div>
                                            <input  type="hidden" class="form-control" id="type2" name="type" value={[{currentCat}]} aria-describedby="storeURLPrefixHelp">
                                            <button type="submit" class="btn btn-danger">Submit</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-content>

    <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirm Delete</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you wanna delete entry?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button data-dismiss="modal" type="button" ng-click="done_button(id, type)"  class="btn btn-danger">Delete</button>
                </div>
            </div>
        </div>
    </div>

</div>
