{% extends 'base.html' %}
{% block content %}
<script src="{{url_for('static', filename='js/controllers/lostController.js')}}"></script>

<div class="for-teddy" ng-app="myApp" ng-controller="lostController">
    <div class="container">
        <span class="lost-title">
            <img class="lost-image" src="{{url_for('static', filename='images/lost.png')}}"> <h5 class="lost-title-text display-5">   Lost and Found</h5>
        </span>
        <hr class="my-4">
        <span><input ng-model="searchItem" id="search" name="search" placeholder="Search... By room number, item or date"></span>
        <hr class="my-3">
        {% if session['email'] == 'housekeeping@northerngrand.ca' or session['email'] == 'jimmypalelil@gmail.com' %}
            <button data-toggle="modal" data-target="#newModal" class="font-weight-bold btn btn-danger"><i class="fas fa-plus"></i> New Item</button>
        {% endif %}
        <div class="lost-content">
            <table class="table table-bordered table-striped room-table">

                <thead class="thead-inverse">
                    <tr>
                        <th class="text-center" >Room #</th>
                        <th class="text-center" style="width: 70%;">Item Description</th>
                        <th class="text-center">Date <small>(Y/M/D)</small></th>
                        {% if session['email'] == 'housekeeping@northerngrand.ca' or session['email'] == 'jimmypalelil@gmail.com' %}
                            <th class="text-center">Edit/Return</th>
                        {% endif %}
                    </tr>
                </thead>

                <tr ng-repeat="room in trial | filter: searchItem | orderBy: 'room_number'">
                    <td style="vertical-align:middle;" class="text-center">{[{room.room_number}]}</td>
                    <td style="vertical-align:middle;" class="text-center">{[{room.item_description | uppercase}]}</td>
                    <td style="vertical-align:middle;" class="text-center"><i class="far fa-calendar-alt"></i> {[{room.date}]}</td>
                    {% if session['email'] == 'housekeeping@northerngrand.ca' or session['email'] == 'jimmypalelil@gmail.com' %}
                        <td class="text-center">
                            <a href="#" data-toggle="modal" data-target="#updateModal"><button ng-click="edit_button(room._id)" style="display: inline; cursor: pointer" class="btn btn-primary done-button"><i class="fas fa-edit"></i> Edit</button></a><hr class="my-2">
                            <button ng-click="send_info(room._id)" style="cursor: pointer" class="btn btn-success action-button done-button" data-target="#confirmModal" data-toggle="modal">Returned</button>
                        </td>
                    {% endif %}
                </tr>
            </table>
        </div>
    </div>


    <div class="modal fade" id="updateModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Update</h4>
                    <button class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form">
                        <form method="post" action="">
                            <div class="form-group">
                                <label for="room_number">Room #</label>
                                <input type="text" class="form-control" id="room_number" name="room_number" value="{[{item.room_number}]}" autofocus required>
                            </div>
                            <div class="form-group">
                                <label for="item_description">Item Description</label>
                                <input type="text" class="form-control" id="item_description" name="item_description" value="{[{item.item_description}]}" aria-describedby="storeURLPrefixHelp" required>
                            </div>
                            <div class="form-group">
                                <label for="date">Date</label>
                                <input type="date" class="form-control" id="date" name="date" value="{[{item.date}]}" aria-describedby="tagNameHelp" required>
                            </div>
                            <input type="hidden" id="_id" name="_id" value="{[{item._id}]}">
                            <button type="submit" class="btn btn-danger">Update</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Confirm Delete</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Are you sure you wanna delete entry?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button data-dismiss="modal" type="button" ng-click="done_button(id)"  class="btn btn-danger">Delete</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="newModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Report New Item</h4>
                    <button class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form">
                        <form method="post" action="">
                            <div class="form-group">
                                <label for="room_number2">Room #</label>
                                <input type="text" class="form-control" id="room_number2" name="room_number" autofocus required>
                            </div>
                            <div class="form-group">
                                <label for="item_description2">Item Description</label>
                                <input type="text" class="form-control" id="item_description2" name="item_description" required>
                            </div>
                            <div class="form-group">
                                <label for="date2">Date</label>
                                <input type="date" class="form-control" id="date2" name="date" value="{{date}}" required>
                            </div>
                            <button type="submit" class="btn btn-danger">Update</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>







{% endblock %}
