{% extends 'base.html' %}
{% block content %}
    <div ng-app="myApp" ng-controller="lostController" class=" container page-header">
        <hr class="my-4">
            <h5 style="position: relative; left: 400px" class="display-5">Update Entry</h5>
        <hr class="my-4">
    </div>

<div class="form">
    <form method="post" action="">
        <div class="form-group">
            <label for="room_number">Room #</label>
            <input type="text" class="form-control" id="room_number" name="room_number" value="{{item.room_number}}">
        </div>
        <div class="form-group">
            <label for="item_description">Item Description</label>
            <input type="text" class="form-control" id="item_description" name="item_description" value="{{item.item_description}}" aria-describedby="storeURLPrefixHelp">
        </div>
        <div class="form-group">
            <label for="month">Month</label>
            <input type="text" class="form-control" id="month" name="month" value="{{item.month}}" aria-describedby="tagNameHelp">
        </div>
        <div class="form-group">
            <label for="year">Year</label>
            <input type="text" class="form-control" id="year" name="year" value="{{item.year}}" aria-describedby="queryHelpBlock">
        </div>

        <button type="submit" class="btn btn-danger">Update</button>
    </form>
</div>


{% endblock %}